
.intro-content {
  position: relative;
  top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--gap);
  height: 100vh;
}

.intro-text-content, .intro-img {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}


.main-bg {
  background-image: url(../img/main-bg.svg);
  background-size: cover;
  background-position: center;
  color:var(--white-color);
}

 .white-bg {
  color:var(--white-color);
  background-color: var(--white-color);
}

 .main-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--gap);
}

 .section {
  min-height: 180vh; /* Altura da primeira seção */
}
.intro-img img {
  max-width: 100%;
  height: auto;
}

.top3-content {
  max-width: 64rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.content-article {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 750px;
}